:root {
   --font-title: large;
   --font-paragraph: xsmall ;
   --background-color: rgb(233, 200, 168) ;
   --background-page: white;
   --color-title: rgb(38, 38, 38);
   --color-h2: rgb(129, 75, 51);
   --color-h3: rgb(104, 48, 73);
   --color-prepation-background: rgb(255, 247, 252); 
   
}

body{
    padding: 0px 0px 0px 0px;
    margin: 20%;
    background-color: var(--background-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
article{

    background-color: var(--background-page );
    border-radius: 20px;
    width: 500px;
    padding: 30px;
    margin: 30px auto; 

}
img{
    margin: 0px 20px;
    margin: 0px;
    width: 100%;
    border-radius: 15px;
    }


h2{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--color-h2);
    text-align: center;
    font-size: var(--font-title);
    margin-bottom: 20px 0px;
    
}
.preparation {
    background-color:rgb(255, 247, 252);
    padding: 20px;
    border-radius: 10px;
    
}
.preparation h3{
    color: var(--color-h3);

}
.preparation ul li{
    margin: 5px 0;
}

.titulo1 {
    background-color: blue;
}
p{  
    font-size:var(--font-paragraph);
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    
    margin: 20px 0;
    color: var(--color-h3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul, ol {
    margin-left: 20px;
}
li{
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li::marker {
    color: #8f5c4f;
}
hr{
    border-color: #8f5c4f;

}
.separator {
    background-color: #8f5c4f;
    height: 1px;
}
.nutrition p{
    color: black;
    border-bottom: 1px solid #ddd0cd;
    padding: 0cqmax;
}
.nutrition p span {

    display: inline-block;
    width: 50%;
    
}
.cantidad{
    color: red ;
    font-weight: bold;
}