:root {
   --font-title: large;
   --font-paragraph: xsmall ;
   --background-color: rgb(233, 200, 168) ;
   --background-page: white;
   --color-title: rgb(38, 38, 38);
   --color-h2: rgb(129, 75, 51);
   --color-h3: rgb(104, 48, 73);
   --color-prepation-background: rgb(255, 247, 252); 
   
}

body{
    padding: 0px 0px 0px 0px;
    margin: 20%;
    background-color: var(--background-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
article{

    background-color: var(--background-page );
    border-radius: 30px;
    padding: 30px;
    margin: 30px auto; 

}
img{
    margin: 0px 20px;
    margin: 0px;
    width: 100%;
    border-radius: 15px;
    }


h2{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--color-h2);
    text-align: center;
    font-size: var(--font-title);
    
}
.preparation {
    background-color:rgb(255, 247, 252);
    padding: 20px;
    border-radius: 10px;
}
.titulo1 {
    background-color: blue;
}
p{  
    font-size:var(--font-paragraph);
    opacity: 60%;
    width: 100%;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    text-align: center;
    
    color: var(--color-h3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li{
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}